<fieldset>
  <legend>Shipping Labels</legend>
  <%= button_to Spree.t(:generate_new_label), print_label_api_return_authorization_path(@return_authorization), remote: true, method: :post, class: 'icon-print', id: 'return-label-button' %>

  <ul>
    <% @return_authorization.labels.each do |label| %>
      <li><%= label.id rescue 'a label?' %></li>
  <% end %>
  </ul>
</fieldset>
